<%- include('partials/head') %>
  </head>
  <body style="min-width: 100vh; height: 100vh; display: flex; align-items: center;justify-content: center;">
    <h1><span style="color: red;">404</span> | Page not Found</h1>
<%- include('partials/end') %>

