<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookLand</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/add-product">Add-Product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>List Of Products</h1>
      </div>
      <div>
        <h4>there is no product..</h4>
      </div>
    </main>
  </body>
</html>
