*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   max-width: 800px !important;
   margin: 0 auto !important;
}
a{
   text-decoration: none;
   color: white;
}
.active{
   color: #1effd6;
}
.header nav{
   background-color: rgb(247, 94, 22);
   padding: 1rem 1rem;
}
.header .list{
   list-style: none;
   display: flex;
}
.list li{
   margin-right: 1rem;
}
